<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" -->
<div class="container mt-4">
    <div class="row">
        <div class="col-12 ">
            <canvas class="border border-primary"></canvas>
            <input type="text" class="form-control" id="upload_input">
        </div>
        <div class="col-12 pt-3 pb-3">
            <button id="saveBtn" class="btn btn-primary">Get blob</button>
        </div>
    </div>
</div>
<meta name="ac:route" content="/">